.accountSettingsMainDiv{

    height: 100vh;
    width: 100%;
    background-color: #fff;
}

.accountSettingscontentDiv{
    display: flex;
    flex-direction: column; 
    row-gap: 15px;
    margin: 20px;

}


.inlineShapeDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    border: 1px solid black;
    padding: 15px;


}
.inlineShapeDiv input{
    font-size: 20px;
    border: 0px;
    
}



.labels{
    font-size: 20px;
    opacity: 80%;

}
/* 
.accountSettingsContainer{

    width: 98vw;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.icon{
    color: #3E6751;
    font-size: xx-large;
    padding:10px;
    padding-bottom: 0;
}

.settingItem input,label{
    display: flex;
    margin:10px;
    height: 5vh;
    font-size: larger;
    border: 0;
    padding-bottom: -5px;
    width: fit-content;

}


.button{
    margin-top: 5%;
    background-color: #3E6751;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    margin:25px;
    width: fit-content;

}

.editIcon{
    color: #3E6751;
    font-size: xx-large;
}

.inputsDiv,.editDiv,.iconsDiv,.labelsDiv{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;

}
.labelsDiv{
width: max-content;
}
.inputsDiv input{
height:30px;
font-size: 18px;
width: 95%;
border:0;
border-bottom: 1px solid;
} */
