.mainDiv{
    display: flex;
    flex-direction: column; 
}
.accountSettingsContainer{

    width: 98vw;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.icon{
    color: #3E6751;
    font-size: xx-large;
    padding:10px;
    padding-bottom: 0;
}

.settingItem label{
    display: flex;
    margin:10px;
    height: 5vh;
    font-size: larger;
    border: 0;
    padding-bottom: -5px;
    width: fit-content;

}


.button{
    margin-top: 5%;
    background-color: #3E6751;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    margin:25px;
    width: fit-content;

}

.toggleIcon{
    color: #3E6751;
    font-size:40px;
}

.toggleDiv,.iconsDiv,.labelsDiv{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;

}
.labelsDiv{
width: max-content;
}
.toggleDiv{

}
