.formContainer {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
  }
  
  .camIcon {
    font-size: 5rem;
    margin-bottom: 10px;
  }
  
  .formContainer input,
  .formContainer textarea {
    width: 90vw;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formContainer button {
    background-color: #3E6751;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer;
  }

  .buttonContainer{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
  }
  