@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');



.navbar {
	width: 100%;
	height: 10vh;
	background-color: var(--navbar-background); 
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #333333; 
  }


  :root {
	--menu-background-light: #3E6751;
	--menu-text-color-light: #000000; 
	--menu-background-dark: #333333; 
	--menu-text-color-dark: #ffffff; 
	--font-color: #333;
	/* --background-color: #eee; */
	--link-color: cornflowerblue;
	--navbar-background: #3E6751; 
  }




:root {

  }
  
  [data-theme="dark"] {
	--font-color: #eee;
	--background-color: #333;
	--link-color: peachpuff;
	--navbar-background: #333; 
	--menu-background: #444; 
  }
  
  body {
	background-color: var(--background-color);
	color: var(--font-color);
  }
  
  a {
	color: var(--link-color);
  }


.menuIcon{
	padding-left: 3%;
	color: white;
	font-size: 4vh;
	
	margin-left: 20px;
}

.logoDot{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: 9%;
}
.logoDot img{
	width: 100%;
}

.nameLogo{
	/* padding-top: 2%;
	padding-left: 5%; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 80%;
	height: 8vh;
	max-width: 300px;
	font-size: 2rem;


}

.dotesIconDiv{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: right;
	font-size: 1.7rem;
}
.dotesIcon{
	padding-right: 5%;
	padding-left: 10%;
	color: white;
	font-size: 1.7rem;
	justify-self: right ;
}

.flexLeft{
	display: flex;
	justify-content: left;
	background-color: #3E6751;
}




.devices_container{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: row;
	flex-wrap:wrap ;
	row-gap:10px;
	padding-top: 10px;

}

.logoCenter img{
	width: 90%;
    display: flex;
    justify-content: center;
	align-items: center;
}

 .sideMenu {
	position: fixed;
	top: 0;
	left: -60%; 
	height: 100vh;
	width: 60%;
	max-width: 300px;
	background-color: #3E6751;
	overflow-x: visible;
	transition: left 0.3s;
	z-index: 2;
  }
  
  .sideMenu.open {
	left: 0; 
  }
  
  .sideMenuContent {
	padding: 50px 50px 0px 50px;
	color: #ffffff;
	font-weight: 300;
	height: 65vh;
	font-size: 18px;
  }
  
  .sideMenuItem {
	display: block;
	padding: 15px 0;
	color: #ffffff;
	text-decoration: none;
	transition: background-color 0.3s ease;
  }
  
  .sideMenuItem:hover {
 	 background-color: #C0D6BF;
	  color: black;
	  border-radius: 5px;


  }
  

  .overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); 
	z-index: 1; 
	cursor: pointer; 
  }

  .greenLogo{
	background-color: #C0D6BF;
	width: 100%;
	display: grid;
	place-items: center; 
  }
  .greenLogo img{
	width: 90%;
	/* min-width: 300px; */
	max-width: 200px;
  }

  .sideMenuMain{
	height: 100vh;
	align-items: flex-end;
  }

  .sidenameLogo{
	/* height: 68vh; */
	align-content: flex-end;

  }
  .navbarHead{

	color: #ffffff;
	align-self: self-start;
	margin-top: 4px;
	padding-left: 1.5rem;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 300;
	font-size: xx-large;
	text-shadow: #3E6751;
}
