.navbar {
	width: 100%;
	height: 10vh;
	background-color: #3E6751;
	display: flex;
	align-items: center;
	justify-content: left;
}

.menuIcon{
	padding-left: 3%;
	color: white;
	font-size: 4vh;
	
	margin-left: 20px;
}

.logoDot{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nameLogo{
	padding-top: 2%;
	padding-left: 5%;
	width: 100%;
	height: 8vh;
	max-width: 300px;
	font-size: 2rem;


}

.dotesIconDiv{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: right;
	font-size: 1.7rem;
}
.dotesIcon{
	padding-right: 5%;
	padding-left: 10%;
	color: white;
	font-size: 1.7rem;
	justify-self: right ;
}


.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
.white_btn:hover{
	background-color:#840707;
	transition: 0.3s;
	color: aliceblue;
}



.books_container1{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px	;
}


.dropdownContent {
	position: absolute;
	top: 10vh;
	right: 0;
	background-color: #3E6751;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 8px 0;
	min-width: 150px;
	z-index: 1;
	border-top: 1px solid #ddd;
	
}

.dropdownItem {
	display: block;
	padding: 10px 20px;
	color: #ffffff;
	text-decoration: none;
	transition: background-color 0.3s ease;
  }
  
  .dropdownItem:hover {
	background-color: #C0D6BF;
	color: black;
	border-radius: 5px;

  }
  
  .icon {
	margin-right: 10px;
	font-size: 18px;
  }

.sideMenu {
	position: fixed;
	top: 0;
	left: -60%; 
	height: 100%;
	width: 60%;
	background-color: #3E6751;
	overflow-x: visible;
	transition: left 0.3s;
	z-index: 2;
  }
  
  .sideMenu.open {
	left: 0; 
  }
  
  .sideMenuContent {
	padding: 40px;
	color: #ffffff;
	font-weight: 200;
  }
  
  .sideMenuItem {
	display: block;
	padding: 10px 0;
	color: #ffffff;
	text-decoration: none;
	transition: background-color 0.3s ease;
  }
  
  .sideMenuItem:hover {
 	 background-color: #C0D6BF;
	  color: black;
	  border-radius: 5px;


  }
  

  .overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); 
	z-index: 1; 
	cursor: pointer; 
  }

  .greenLogo{
	background-color: #C0D6BF;
	width: 100%;
	display: grid;
	place-items: center; 
  }
  .greenLogo img{
	width: 80%;
  }

  .sideMenuMain{
	height: 100%;
  }

  .sidenameLogo{
	height: 100%;
	align-content: flex-end;

  }