:root {
    --background-color-dark: #333; 
    --background-color-light: #7b287d;
    --font-color-dark: #eee; 
    --font-color-light: #333; 
    --box-shadow-color-dark: rgba(0, 0, 0, 0.5); 
    --box-shadow-color-light: rgba(0, 0, 0, 0.5); 
}

[data-theme="dark"] {
    --background-color: var(--background-color-dark);
    --font-color: var(--font-color-dark);
    --box-shadow-color: var(--box-shadow-color-dark);
}

[data-theme="light"] {
    --background-color: var(--background-color-light);
    --font-color: var(--font-color-light);
    --box-shadow-color: var(--box-shadow-color-light);
}
  



.device-detail-container{
    width: 100vw;
    padding-top: 0%;
    
}
.locationDiv button{
    background-color: transparent;
    border: 0px;
    opacity: 80%;
    font-size: 20px;
}

.active-button {
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  

.locationDiv {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    box-shadow: 0px -30px 1px #3E6751;
    background: linear-gradient(to top, #2A533D 0%, #2A533D 30%, #3E6751 90%, #3E6751 50%);
  }
  
.icon{
    font-size: 12vw;
    max-height: 60px;
    opacity: 60%;
    color: aliceblue;
}

.addMargin{
    margin-top: 0px;
}

.imgDiv img{
border-radius: 0px;
}

.infoMainDiv{
display: flex;
flex-direction: column;
width: 90%;
row-gap: 15px;
font-size: 20px;

}

.nameDiv {
    display: flex;
    font-weight: 600;
}

.heighTypeDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 600;
}

.heighDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: var(--font-color); 
    font-weight: 600;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 42%;
}

[data-theme="light"] .heighDiv ,
[data-theme="light"] .locationDiv2,
[data-theme="light"] .moredetailsDiv  {
    background-color: #D1E7D0;
}
[data-theme="dark"] button {
    
}


.infoSuperDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 18px;
    margin-top: 20px;
}

.locationDiv2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 600;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.moredetailsDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: 600;
    box-shadow: 1px 1px 1px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

}

.typeLabel{
    font-weight: 700;
}

.typeValue{
    font-weight: 500;
    opacity: 70%;
}

.locationLabel{
    font-weight: 700;

}
.locationValue{
    font-weight: 500;
    opacity: 70%;
}

.detailsLabel{
    font-weight: 700;

}
.detailsValue{
    font-weight: 500;
    opacity: 70%;
}

.heighLabel{
    font-weight: 700;

}
.heighValue{
    font-weight: 500;
    opacity: 70%;
}


