.button{
    margin-top: 5%;
    background-color: #3E6751;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    margin:25px;
    width: fit-content;

}
.notificationContainer{
    /* background-color: #ff8; */
}

.notificationCard{
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    row-gap: 5px;
    column-gap: 7%; 
    flex-wrap: wrap;
    /* background-color: rgb(25, 69, 144); */
    border-bottom: 1px solid ;
    box-shadow: #3E6751;
}
.insideNotificationCard{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainHistoryContainer{
    /* background-color: rgb(121, 121, 27); */
}

.deviceName{
color: #3E6751;
font-weight: 700;
}

.icon{
    font-size: 3rem;
}
