.mainContainer{
  display:flex;
  justify-content: center;
}
.card {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #ddd;
    /* padding: 10px 10px 2px 10px; */
    margin: 5px;
    border-radius: 15px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    background-color: #C0D6BF;
    width: 90%;
    height: 40vh;

  }

  .card:hover{
    background-color: rgba(0, 145, 123, 0.114);
    transition: 0.3s;
  }
  
  .title {
    font-size: 1.2rem;
    font-weight: 500;
    font-family:  Georgia, Times, 'Times New Roman', serif;
  }
  
  img {
    height: 82%;
    width: 100%;
    border-radius: 15px;
    
  }



  .followButton {
      color: #3399FF;
      font-family: "Helvetica";
      font-size: 10pt;
      background-color: #ffffff;
      border: 1px solid;
      border-color: #3399FF;
      border-radius: 3px;
      width: 85px;
      height: 30px;
      top: 50px;
      left: 50px;	
      cursor: hand;		    
  }

.likeButton{
  background-color: #ffffff;
  border: 0px;
  font-size: larger;
}
.likeButton:hover{
  zoom: 120%;
  background-color: transparent;
}


   .btns{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
   }

