.mainContainer{
  display:flex;
  justify-content: center;
  width: 50%;
  max-width: 250px;
}
.card {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 5px;
    border-radius: 15px;
    border-bottom: 1px solid;
    width: 90%;
    height: 22vh;
    box-shadow: 0px 0px 5px ;

  }
  .card h3{
    font-weight: 600;
    margin: 3px;
    margin: 10px;

  }

  .card:hover{
    background-color: rgba(0, 145, 123, 0.114);
    transition: 0.3s;
  }
  
  .title {
    font-size: 1.2rem;
    font-weight: 500;
    font-family:  Georgia, Times, 'Times New Roman', serif;
  }
  
  img {
    height: 82%;
    width: 100%;
    border-radius: 15px;
    
  }

