.mainAudioDiv{
  display: flex;
  justify-content: center;
}
.recognize-button {
    font-size: 16px;
    padding: 10px;
    max-width: 380px;
    height: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .backButton {
    background-color: #3E6751;
    color: white;
    height: 45px;
    border-radius: 25px;
  }
  
  .recognize-button.start {
    background-color: #3E6751;
    color: white;
    height: 7vh;
    font-size: 20px;
    padding: 10px;
    width:99%;
    border-radius: 30px;
  }

  .recognize-button.start:hover{
    background-color: #3E6751;
  }
  
  .recognize-button.bounceStop {
    height: 45px;
    text-align:center;
    opacity: 1;
    background: rgb(128, 0, 62);
    color:#fff;
    border-radius:25px;
    animation: bounce .6s infinite alternate;
  }
  @keyframes bounce {
    to { transform: scale(1.2); }
  }
  
  .countContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    padding: 25px;

  }

  .label-container{
    display: flex;
    justify-content: center;
  }
  .buttonsDiv{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
