.button{
    margin-top: 5%;
    background-color: #3E6751;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    margin:25px;
    width: fit-content;

}
.buttonsDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.notificationCard{
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100vw;
    row-gap: 5px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); 
    box-shadow: 1px 1px 7px #707f77;
    min-height: 10vw;
}
.insideNotificationCard{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
/* 
.mainHistoryContainer{
} */

.deviceName{
color: #3E6751;
font-weight: 700;
}

.icon{
    font-size: 3rem;
    opacity: 60%;
    margin: 8px 7px 0px 7px ;
}


.confirmationContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    text-align: center;
    display: flex;
    flex-direction: column;
    
  }
  
  .confirmationContainer p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .confirmationContainer button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmationContainer button.yes {
    background-color: #e74c3c; 
    color: white;
  }
  
  .confirmationContainer button.no {
    background-color: #3498db; 
    color: white;
  }
  
  .confirmationContainer button:hover {
    opacity: 0.8;
  }
  
  .YesNo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }