
/* body{
	display:flex;
	align-items: center;
	justify-content: center;
} */

.mainDiv{
	background-image:url('../../assets/images/bgWallpaer1.jpg') ;
	background-size: cover;
	background-size: 100% 100%;
	display:flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	height: 100vh;
	width: 392x;
}

.logoDiv{
	content: url('../../assets/images/logo.svg');
	width: 85%;
	height: 50%;
	opacity: 60%;

 }

 .inputDiv{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 50%;
	padding-bottom:5% ;

 }

 .form_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
}

.white_btn,.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 12px;
	width: 50%;
	height: 7vh;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}

.green_btn {
	background-color: #135A56;
	color: white;
	margin: 10px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 18px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.input {
	outline: none;
	border: none;
	width: 90%;
	max-width: 300px;
	border-radius: 12px;
	background-color: #edf5f3;
	margin: 15px;
	padding-left: 15px;
	height: 7vh;
	font-size: 18px;
	opacity: 80%;
}